@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@400;700&family=Press+Start+2P&display=swap");
:root {
  --main_color: #353535;
}

body {
  font-family: "Mohave", sans-serif;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  
}

main {
  width: 100%;
  height: auto;
  box-sizing: border-box;

}

.header_flex{
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  background: rgb(29, 98, 131);
}

.header_logo {
  width: 100px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  align-items: flex-end;
}

.header_menu{
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  
  
}

.header_menu ul{
  list-style: none;
 
}

.header_menu ul li {
  text-decoration: none;
  display: inline-block;
  margin-left: 3px;
  font-size: 20px;
  color: white;
}

.header_search{
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-end;
}

h1{
  text-align: center;
  font-size: 35px;
}

.flex_wrapper{
    width: 100%;
    height: auto;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(29, 98, 131);
}


.flex_item_one{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 7.5px;
  padding: 10px;

  width: 30%;
  height: auto;

  border: 2px solid white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.534);
  opacity: 0.78;
  cursor: pointer;
  transition: all 0.35s;
}

.flex_item_two{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  margin: 7.5px;
  padding: 10px;

  width: 30%;
  border-radius: 10px;
  border: 2px solid white;

  opacity: 0.78;
  cursor: pointer;
  transition: all 0.35s;
}

.flex_item_three{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 7.5px;
  padding: 10px;

  width: 30%;

  border: 2px solid white;
  border-radius: 10px;
  opacity: 0.78;
  cursor: pointer;
  transition: all 0.35s;
}

.user_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 7.5px;
  padding: 10px;

  width: 50%;
  background: white;
  border: 2px solid rgb(29, 98, 131);
  border-radius: 10px;

 /* opacity: 0.78; */
  cursor: pointer;
  transition: all 0.35s;
}

.div_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
}